@test: red;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin: 100px auto;
  width: 360px;
  height: 420px;
  background: #b7d4a8;
  border: 10px solid #000;
  border-radius: 10px;
  .context{
    position: relative;
    margin: 22px auto;
    width: 304px;
    height: 304px;
    border: 2px solid #000;
    overflow: hidden;
    .snake{
      div{
        position: absolute;
        top: -10px;
        // transition: linear;
        // transition-property: left,top;
        width: 10px;
        height: 10px;
        background: #000;
        border: 1px solid #b7d4a8;
      }
    }
    #food{
      position: absolute;
      top: 100px;
      left: 100px;
      width: 10px;
      height: 10px;
      background: #007;
      border: 1px solid #b7d4a8;
      // transition: transform 1s linear;
      animation: asas 1s linear infinite;
      border-radius: 45%;
    }
  }
  .footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 304px;
    margin: 20px auto;
    color: #000;
    font-size: 20px;
    font-weight: bold;
  }
}
@keyframes asas{
  from{
    transform: rotate3d(1,1,1,0deg);
    background: #000;
  }
  to{
    transform: rotate3d(1,1,1,360deg);
    background:red;
  }
}